# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/

inspectit-influxdb-zipkin/configuration-server/users.db
inspectit-prometheus-jaeger/configuration-server/users.db
